doctype! html
html
	head
		title testing
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
	body
		block content
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/index.js')
